* {
    font-family: 'Handjet', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    min-width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background {
    background-image: url(./assets/1315439.png);
    filter: opacity(90%);
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.tudo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40%;
    flex-direction: column;
}

.numbers {
    display: flex;
}

h1 {
    display: block;
    background-color: #e2dddd;
    font-size: 100px;
    border-radius: 20px;
    margin-bottom: 20px;
}

span {
    display: block;
    background-color: #e2dddd;
    font-size: 100px;
    margin-left: 15px;
    border-radius: 20px;

}

.buttons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    flex-direction: row;

}

button {
    width: 150px;
    height: 70px;
    margin: 30px 30px;
    font-size: 55px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #e2dddd;
}

button:hover {
    background: rgb(241, 13, 13);

}

button:active {
    opacity: 0.6;
}

@media screen and (max-width: 900px) {

    h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    button {
        margin: 10px 10px;
        width: auto;
        height: 70px;
    }

    span {
        font-size: 50px;
    }

    .tudo {
        top: 40%;
    }

}